@import url("../styles/header.css");
@import url("../styles/hero.css");
@import url("../styles/about.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    311deg,
    rgba(29, 35, 83, 1) 38%,
    rgba(161, 13, 28, 1) 93%
  );
  /* background-repeat: no-repeat;
  background-size: cover; */

  height: 100vh;
}
